/* Reset básico */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Eliminar bordes de imágenes */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Heredar fuentes */
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Reset de listas */
ul,
ol {
  list-style: none;
}

/* Reset de enlaces */
a {
  text-decoration: none;
  color: inherit;
}

/* Reset de botones e inputs */
button,
input,
textarea,
select {
  font: inherit;
}