// Tipografías
$font-primary: "Montserrat", sans-serif;

// Colores
$primary: #0d6efd;
$secondary: #f5b400;
$white: #fff;
$black: #000;
$text: #333;

// Tamaños
$container: 1200px;
$gutter: 20px;

// Breakpoints
$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1280px;

// Transiciones
$transition: .3s ease;